html,body {
  scroll-behavior: smooth;
}


  @media (min-width: 1600px) {
    .about-content-i {
    height: 100% !important;

  }
}
.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: glow 1s ease-in-out infinite alternate;
    height: fit-content;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e6db00, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
 


 .header-section-text {
    animation: glow 1s ease-in-out infinite alternate;
    font-size: 22px;
    color: #fff; 
 }
 

.banner  .css {
    background-color: rgb(163, 163, 251);
}
.banner .git {
    background-color: #682c2c;
}

.banner .javascript {
    background-color: yellow;
}

.banner   img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
 
.carousel-slider .swiper-wrapper {
    display: flex;
    align-items: center;
    max-height: 200px;
    max-width: 100%;
  }
  
  .carousel-slider .swiper-slide {
    width: clamp(130px, 15vw, 293px);
    height: clamp(150px, 15vw, 293px);
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .carousel-slider .swiper-slide {
    background: rgba(9, 21, 50, 0.2);
    border-radius: 25px;
  }
  
  .carousel-slider .swiper-slide.swiper-slide-next,
  .carousel-slider .swiper-slide.swiper-slide-prev {
    background: rgba(9, 21, 50, 0.75);
  }
  
  .carousel-slider .swiper-slide.swiper-slide-active {
    /* background: #0762e5; */
    box-shadow: 0 0 25px 2px rgba(255, 255, 255, 0.7);
  }
  
  .carousel-slider .item-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  

  .progress-container {
    width: 100%;
    height: 3.5px;
    background: transparent;
  }
  
  .progress-bar {
    height: 3.5px;
    background: #04AA6D;
    width: 0%;
  }
  
  .content {
    padding: 100px 0;
    margin: 50px auto 0 auto;
    width: 80%;
  }

  .active {
    text-decoration: underline;
    scale: 1.2;
    background-color: #04AA6D;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
  }